/* CSS Document */
body {
	background-image: url('../images/background.jpg') ;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	font-size: 12px;
	background-attachment:fixed;
}

h1 {
	margin-left: 90px;
}

label {
	display: block;
	font-weight: bold;
	color: #000;
}

.warning {
	color: rgb(255, 0, 0);
}

.sukses {
	color: #090;
}

/* register */
.register {
	background-color: #393636;
	width: 35%;
	min-width: 300px;
	max-width: 600px;
	margin:30px auto;
	border-radius: 10px;
	min-height: 200px;
	position:relative;
}

.register h1 {
	border-radius: 10px 10px 0 0;
	background-color: #FFD51E;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
}

.register form {
	margin: 10px 20px;
}

.full {
	width: 100%;
	font-weight: bold;
	font-size: 14px;
}

label {
	color: #000;
}

input[type='text'] {
	width: 95%;
	padding: 8px 2%;
	border-radius: 5px;
	background-color: rgb(206, 206, 206);
	outline: none;
}

button[type='submit'] {
	width: 99%;
	padding: 8px 2%;
	border: none;
	border-radius: 5px;
	background-color: #FFD51E;
	color: #000;
	cursor: pointer;
	outline: none;
}

button[type='submit']:hover{
	background-color: #FFF;
}

button[type='submit']:active{
	background-color: #FFD51E;
}

.warning {
	color: rgb(255, 0, 0);
}

.sukses {
	color: #090;
}
/* Footer */
footer {
	background-color: #FFD51E;	
	padding: 10px 20px;
	text-align: center;
	border-radius: 0 0 10px 10px;
	font-size: 12px;
	margin-top: 10px;
}