/* Navigation and Home */
.navigation{
	width: 100%;
}

.home{
	width: 100%;
	text-align:center;
	position: absolute;
	top: 270px;
	height: 620px;
}

.home .caption_title{
	font-family: 'arial';
	font-weight: Bold;
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.home .caption_desc{
	font-family: 'arial';
	font-size: 25px;
	color: #ffffff;
}

/* Navbar */

.menu {
	text-align: right;
}

.buttonMenu {
	text-decoration: none;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16px;
	color: orange;
	background: white;
	padding: 20px;
	border:0;
}

.buttonMenu:hover {
	color: white;
	background: orange;
}

.buttonMenu:active {
	color: white;
	background: red;
}

/*  Page Mover  */
.list {
	width: 100%;
	height: 300px;
	background: #ebebeb;
}

/* about */
.about{
	width: 100%;
	height: 620px;
	background-color: #d3d3d3c9;
}

.about div {
	width: 1060px;
	margin: 0 auto;
}

.about table {
	margin-bottom: 30px;
	color: #7e7e7e;
}

.about img{
	width: 350px;
	margin-top: 90px;
	margin-left: 25px;
}

.about .about_desc{
	width: 600px;
	float: right;
	margin-top: 30px;
}

.about h3{
	font-family: 'Berlin Sans FB';
	color: #646363;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about li{
	font-family: 'LatoRegular', arial;
	color: #7e7e7e;
	font-size: 15px;
	margin-bottom: 15px;
}

/* mahasiswa */
.mahasiswa {
	width: 100%;
	height: 670px;
	background-color: #393bc7c9;
}

.mahasiswa div {
	width: 1060px;
	margin: 0 auto;
}

.mahasiswa table {
	margin-bottom: 30px;
	color: #eeeeee;
}

.mahasiswa img {
	width: 350px;
	margin-top: 90px;
	margin-left: 55px;
}

.mahasiswa .mahasiswa_desc {
	width: 600px;
	float: left;
	margin-top: 30px;
}

.mahasiswa h3 {
	font-family: 'Berlin Sans FB';
	color: #eeeeee;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.mahasiswa li {
	font-family: 'LatoRegular', arial;
	color: #eeeeee;
	font-size: 15px;
	margin-bottom: 15px;
}

/* dosen */
.dosen {
	width: 100%;
	height: 700px;
	background-color: #25cbe9c9;
}

.dosen div {
	width: 1060px;
	margin: 0 auto;
}

.dosen table {
	margin-bottom: 30px;
	color: #7e7e7e;
}

.dosen img {
	width: 400px;
	margin-top: 140px;
	margin-left: 25px;
}

.dosen .dosen_desc {
	width: 600px;
	float: right;
	margin-top: 30px;
}

.dosen h3 {
	font-family: 'Berlin Sans FB';
	color: #646363;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.dosen li {
	font-family: 'LatoRegular', arial;
	color: #7e7e7e;
	font-size: 15px;
	margin-bottom: 15px;
}

/* jadwalPhone */
.jadwal {
	width: 100%;
	height: 670px;
	background-color: #dd2f2fc9;
}

.jadwal div {
	width: 1060px;
	margin: 0 auto;
}

.jadwal table {
	margin-bottom: 30px;
	color: #eeeeee;
}

.jadwal img {
	width: 400px;
	margin-top: 140px;
	margin-left: 35px;
}

.jadwal .jadwal_desc {
	width: 600px;
	float: left;
	margin-top: 30px;
}

.jadwal h3 {
	font-family: 'Berlin Sans FB';
	color: #eeeeee;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.jadwal li {
	font-family: 'LatoRegular', arial;
	color: #eeeeee;
	font-size: 15px;
	margin-bottom: 15px;
}

/* download */
.download {
	width: 100%;
	height: 670px;
	background-color: #393bc7c9;
}

.download div {
	width: 1060px;
	margin: 0 auto;
}

.download table {
	margin-bottom: 30px;
	color: #eeeeee;
}

.download img {
	width: 400px;
	margin-top: 140px;
	margin-left: 25px;
}

.download .download_desc {
	width: 600px;
	float: right;
	margin-top: 30px;
}

.download h3 {
	font-family: 'Berlin Sans FB';
	color: #eeeeee;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.download li {
	font-family: 'LatoRegular', arial;
	color: #eeeeee;
	font-size: 15px;
	margin-bottom: 15px;
}

/*  Page Mover  */
.page{
	width: 100%;
	background: #ebebeb;
}

/*  Footer  */
footer{
	width: 100%;
	background-color: #393939;
	text-align: center;
}

footer nav{
	width: 100%;
}

footer ul {
	font-family: 'Latobold', arial;
	font-weight: bold;
	color: #a5a5a5;
	text-decoration: none;
}

footer nav ul li{
	list-style: none;
	display: inline-block;
}

footer nav ul li a{
	text-decoration: none;
	color: #a5a5a5;
	font-family: "LatoBold", arial;
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
}


footer hr.footer_sp{
	background-color: #333;
	border: none;
}

footer .anugming{
	color: #a5a5a5;
	font-family: "LatoRegular", arial;
	font-size: 13px;
	letter-spacing: .5px;
}
